﻿@model Modelo.Property

@{
    ViewData["Title"] = "Apagar uma propriedade";
}

<div class="container">

    <div class="row">
        <div class="col-6">Id:</div>
        <div class="col-6">@Model.PropertyId</div>
    </div>

    <div class="row">
        <div class="col-6">Nome:</div>
        <div class="col-6">@Model.Name</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.Description</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.BedRooms</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.GarageVacancies</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.Address</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.Category</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.CurrentPricePerNight</div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="ConfirmDelete" asp-controller="Property">
                <input type="hidden" name="id" value="@Model.CategoryId" />

                <button class="btn btn-primary">
                    Excluir
                </button>

                <a asp-action="Index" class="btn btn-danger" asp-controller="Property">
                    Voltar
                </a>
            </form>
        </div>
    </div>
</div>
