@model TrabalhoProg.Modelo.Address

@{
    ViewData["Title"] = "Deletar um endereco";
}

<div class="container">

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">País</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col">Rua</th>
                <th scope="col">Rua1</th>
                <th scope="col">Código Postal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AddressId</td>
                <td>@Model.Country</td>
                <td>@Model.State</td>
                <td>@Model.City</td>
                <td>@Model.Street</td>
                <td>@Model.Street1</td>
                <td>@Model.PostalCode</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="ConfirmDelete" asp-controller="Address">
                <input type="hidden" name="id" value="@Model.AddressId" />

                <button class="btn btn-primary">
                    Excluir
                </button>

                <a asp-action="Index" class="btn btn-danger" asp-controller="Address">
                    Voltar
                </a>
            </form>
        </div>
    </div>
</div>